* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-weight: normal;
    min-height: 100vh;
    line-height: 1.5;
}

section {
    margin: 0 auto;
    width: 80%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

li {
    padding: 0.5rem;
}

.credit {
    margin-bottom: 1rem;
}